# Leave empty to use Vite proxy (development)
# Set full URL for production
VITE_SERVICE_API_URL=

# SETUP ORGANIZATION ID UNTUK FLAG TENANT, SEMENTARA. JIKA ADA AUTENTIKASI, LEBIH BAGUS DI MASUKAN KE JWT ATAU AUTENTIKASI NYA
VITE_ORGANIZATION_ID=9c0f7d55-8f2e-4e7c-9d17-3d2b7f9e2222
